/* body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */

.sign-in-form1 {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.form-groups {
    margin-bottom: 15px;
}

.form-groups input[type="text"],
.form-groups input[type="email"],
.form-groups select {
    width: 100%;
    padding: 10px;
    background-color: #ffffff00;
    margin-bottom: 10px;
    border: 1px solid #cccccc53;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-groups select {
    padding: 10px;
    color: rgba(255, 255, 255, 0.462);
}

.signinbtn {
    background-color: #106470;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signinbtn:hover {
    background-color: #0a3c48;
}